
.navbar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .navbar .nav-item .nav-link.dropdown-toggle::after {
    display: none !important;
  }
  
  .nav-link-hover:hover {
    color: #fff; 
    background-color: #007bff !important; 
    border-radius: 10px; 
  }
  
  .dropdown-menu-left {
    right: auto !important; 
  }
  
  /* Hover effect for Bell button */
  .navbar .nav-item .nav-link.dropdown-toggle:hover {
    color: #fff !important;
    background-color: #007bff !important; 
    border-radius: 50% !important; 
  }
  
  .dropdown-menu {
    max-width: 20px; /* Adjust the maximum width as needed */
    white-space: normal; /* Allow content to wrap */
  }
  
  .dropdown-menu {
    white-space: normal; /* Allow content to wrap */
  }
  
  .dropdown-item-text {
    overflow-wrap: break-word; /* Wrap long words if needed */
  }
  
.navbar-expand-lg .navbar-nav .dropdown-menu{
    right :0;
  }
/*  
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
}

.my-dropdown{
  position: relative;
  right:0
} */